* {
    box-sizing: border-box;
    user-select: none;
}
body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #141414;
}
/* ------------------------------------- */
/* CABECERA DE LA PÁGINA  
/* ----------------------------- */
header {
    user-select: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(141, 132, 132);
    font-family: monospace;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 50px;
    padding: 0px 0px;
    box-sizing: content-box;
    z-index: 100;
}

/* ----- Desing del menu para movil ----- */
header .logo {
    height: 100%;
    font-size: 30px;
    letter-spacing: 5px;
    padding:0px  15px;
}
header .logo p {
    display: inline;
    line-height: 50px;
}
header .container_btn-menu {
    display: block;
    padding-right: 9px;
}
header .container_btn-menu> button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #fff;
    background-color: #000;
    font-size: 25px;
    outline: none;
    border: none;
}
header .container_btn-menu> button:hover {
    color: #ccc;
}
/* diseño del contenido del menú  */
header .container-menu {
    position: absolute;
    top: 51px;
    right: -100%;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: #000a;
}
header .container-menu .menu {
    position: absolute;
    right: 0px;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-left: 0px;
    background-color: #000;
}
header .container-menu .menu li {
    text-align: center;
    list-style: none;
    font-size: 18px;
    line-height: 50px;
}
header .container-menu .menu li:hover {
    background: linear-gradient(135deg , #2227 30%, #7777) ;
    background-repeat: no-repeat;
}
header .container-menu .menu li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0px 15px;
}
/* ------------------------------ */
/* CUERPO DE LA PÁGINA WEB 
/* ---------------------------------- */

/* ----------------------- Redes sociales ------------------------ */
.redes-sociales {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 110;
}
section .btn-RS {
    position: absolute;
    bottom: 10px;
    right: 10px;  
    width: 50px;
    height: 50px;
    font-size: 45px;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(150, 160, 247), rgb(44, 63, 236));
    color: #fff;
    z-index: 18;
    transition: transform .2s ease-in;
    cursor: pointer;
}
section .btn-RS > div {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
section .contenido-RS{
    position: absolute;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 50px #000 inset;
    background: linear-gradient(135deg, rgb(51, 51, 255,.7),rgb(255, 255, 255,.5));
    border-radius: 50%;    
    bottom: -60px;
    right: -60px; 
    z-index: 15;
    transform: scale(0) rotate(-70deg);
    transition: transform .2s ease-in;
}
section .contenido-RS > div {
    position: absolute;
    display: block;
    font-size: 28px;
    height: 28px;
    width: 24.5px;
}
section .contenido-RS > div > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
/* Inicio- posicionando los iconos de las RS */
section .contenido-RS > .facebook {
    top: 20px;
    left: 91.25px;
}
section .contenido-RS > .tiktok {
    top: 86px;
    left: 20px;
}
section .contenido-RS > .instagram {
    top: 39px;
    left: 43.375px;
}
section .contenido-RS > div > p {
    display: none;
}
/* Fin- posicionando los íconos de las redes sociales */
main {
    user-select: none;
    position: relative;
    padding-top: 66px;
    z-index: 10;
}
/* ----------------------- Tarjetas de Animaciones ---------------------------- */
main .contenido {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* container de cada tarjeta de animación */
main .contenido > div {
    position: relative;
    width: 90%;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* Imagen - previsualización de la animación */
main .contenido > div > img {
    width: 100%;
    height: 100%;
}
/* Inicio - boton para ir a la animación */
main .contenido > div > .ver-animacion {
    position: absolute;
    background: linear-gradient(135deg, #000d, #ccc7);
    border: none;
    outline: none;
    z-index: 7;
    transform: scale(0);
    transition: transform .2s linear;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}
main .contenido > div:hover .ver-animacion {
    transform: scale(1);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
main .contenido > div .ver-animacion > a {
    color: #fff;
    font-size: 27px;
    font-family: monospace;
    font-weight: bold;
    line-height: 200px;
    text-decoration: none;
}
main .contenido > div .ver-animacion > a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 2px #000;
}
main .contenido > div .ver-animacion > a:active {
    color: #ccc;
} 
/* Nombre de la animación */
main .contenido > div h3 {
    position: absolute;
    display: block;
    color: #fff;
    bottom: 0;
    z-index: 10;
    width: 100%;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to top, #000 , transparent);
    font-weight: bold;
    font-family: monospace;
}
/* Descripción de la animación */
.footer {
    position: relative;
    z-index: 14;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 100px;
    width: 100%;
    height: 100px;
}
/* ---------------------------------------------------------------- */
/*  PIE DE PÁGINA
/* ---------------------------------------------------------------- */

/* ----- Desing del menú para tablet ----- */
@media only screen and (min-width: 541px) {
    header .container-menu .menu {
        width: 200px;
    }
    header .container-menu .menu li {
        text-align: right;
    }
}

/* ----- Desing del menú para desktop ----- */
@media only screen and (min-width: 837.723px) {
    header .container_btn-menu {
        display: none;
    }
    header .container-menu {
        transition: none;
        position: relative;
        top: 0px;
        height: 100%;
        width: auto;
        right: 0px;
        background-color: transparent;
    }
    header .container-menu .menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    header .container-menu .menu li {
        text-align: center;
        min-width: 148px;
    }
    header .container-menu .menu li:hover {
        background: linear-gradient(90deg, #000 15%, #5557 90%, #5559) ;
        font-weight: bold;
    }
} 



